.toolbarButton {
    @apply focus:outline-none;
    display: block flow-root;
}

.toolbarButtonLabel {
    margin-inline-start: 0.5rem;
}

.toolbarButton[data-active='true'] {
    background-color: var(--col-dark-blue);
    color: var(--col-light);
}
