.tidesContent {
  display: flex;
  flex: 1;
  min-height: 0;
}

.tidesChart {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.tidesDetailsPanelContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
