.menu {
  position: absolute;
  right: 0;
  margin-right: 8vh;
  background-color: white;
  border-radius: 0.375em;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 16em;
  max-height: 40vh;
  overflow-y: auto;
  z-index: 1000;
}

.closeButton {
  padding-bottom: 0.5em;
  padding-right: 1em;
  text-decoration-style: -moz-none;
}
