PGSERVICEFILE=./VISTA/backend/vista-python-api/src/core/.pg_service.conf # replace ./ with full path reference
PGPASSFILE=./VISTA/backend/vista-python-api/src/core/.vista_pgpass # replace ./ with full path reference
OS_NGD_API_KEY=
OS_NAMES_API_KEY=
CQC_API_KEY=
