# These are loaded by direnv
export DB_HOST="localhost"
export DB_NAME="vista"
export DB_USER="postgres"
export DB_PORT="5432"
export DB_PASSWORD="postgres"

# Tell Postgres where to find the service config
export PGSERVICEFILE="/home/akutekwea/VISTA-Development/vista/backend/vista-python-api/src/core/.pg_service.conf"

# Tell Postgres where to find the password file
export PGPASSFILE="/home/akutekwea/VISTA-Development/vista/backend/vista-python-api/src/core/.vista_pgpass"
