# These are loaded by direnv
# Tell Postgres where to find the service config
export PGSERVICEFILE="/home/akutekwea/VISTA-Development/vista/backend/vista-python-api/src/core/.pg_service.conf"

# Tell Postgres where to find the password file
export PGPASSFILE="/home/akutekwea/VISTA-Development/vista/backend/vista-python-api/src/core/.vista_pgpass"
