# Specify the asset types to be removed
# e.g. if you want to remove Pylons, you need to reference the stem of the IES type i.e. Pylon from http://ies.data.gov.uk/ontology/ies4#Pylon
ASSET_TYPE_DATA=frontend/dev/data_removal_resources/asset_types_for_removal.csv

ASSETS_FILE=frontend/src/data/coeff-assets-with-geometry.json

# to remove data from iow.ttl
TRAVERSAL_DELETE_QUERY=frontend/dev/data_removal_resources/data_traversal_query.sparql
ASSET_SELECTION_QUERY=frontend/dev/data_removal_resources/asset_selection_query.sparql
FUSEKI_URL=http://localhost:3030/knowledge
