.carver-grid--fixed thead th {
  @apply sticky top-0 bg-black-100;
  z-index: 1;
  inset-block-start: 0;
}


.sticky-col-group {
  @apply sticky left-4;
  z-index: 2;
}

.main-grid {
  display: grid;
  position: absolute;
  grid-template-columns: 50px 15px 15px 120px 22px;
}

.main-grid > div {
  display: inline-block;
}

.asset-id {
  font-family: monospace;
  border-width: 1px;
  padding-left: 3px;
  height: 22px;
  font-size: 13px;
  font-weight: 400;
  border-style: solid;
  border-color: gray;
}

.asset-id button {
  text-decoration: none;
  color: white;
}

.col-header {
  font-family: monospace;
  border-width: 1px;
  padding-top: 5px;
  width: 22px;
  height: 80px;
  font-size: 13px;
  font-weight: 400;
  border-style: solid;
  border-color: gray;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.col-header:first-child {
  border-left: 1px;
}

.col-header button {
  text-decoration: none;
  color: white;
}

.blank-entry {
  font-family: monospace;
  border-width: 1px;
  height: 22px;
  border-style: solid;
  border-color: gray;
  background-color: rgb(70, 70, 70);
  text-align: center;
}

.grid-entry {
  font-family: monospace;
  border-width: 1px;
  height: 22px;
  border-style: solid;
  border-color: gray;
  text-align: center;
}

.grid-entry-1 {
  background-color: yellow;
  color: black;
}

.grid-entry-1 a {
  text-decoration: none;
  color: black;
}

.grid-entry-2 {
  background-color: orange;
  color: rgb(17, 17, 17);
}

.grid-entry-2 a {
  text-decoration: none;
  color: black;
}

.grid-entry-3 {
  background-color: red;
  color: rgb(17, 17, 17);
}

.grid-entry-3 a {
  text-decoration: none;
  color: black;
}

.grid-entry-nil {
  background-color: rgb(17, 17, 17);
  color: gray;
}

.grid-entry-nil:after {
  content: "X";
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-slider .slider-track {
  top: 20px;
  height: 10px;
  border-radius: 15px;
}

.slider-mark {
  margin: 0px calc(19px);
  bottom: calc(50% - 6px);
}

.slider-track.slider-track-1 {
  background: rgb(255, 0, 0);
}

.slider-track.slider-track-0 {
  background: rgb(255, 255, 255);
}

.horizontal-slider .slider-thumb {
  top: 1px;
  width: 50px;
  height: 48px;
  line-height: 38px;
}

.slider-thumb {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 5px solid gray;
  border-radius: 50%;
  box-sizing: border-box;
}

.horizontal-slider {
  width: 100%;
  height: 50px;
}
.slider-mark {
  width: 12px;
  height: 12px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
