.infoPanelContainer {
  width: 100%;
  height: 100%;
  background-color: var(--col-bg-card);
  color: var(--col-fg);
  padding: 1rem;
}

.infoHeader {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.25rem;
}

.infoTitle {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.streetViewContainer {
  position: relative;
  width: fit-content;
}

.streetViewLink {
  color: var(--col-link);
}

.streetViewLink:hover {
  color: var(--col-link-hover);
}

.streetViewIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.streetViewTooltip {
  position: absolute;
  right: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--col-fg-secondary);
}

.sidebarContent {
  @apply flex-grow overflow-hidden;
  background-color: var(--col-bg-card);
}
