.complexLayerContainer {
    /* This serves no real layout purpose other than to hold the expanded attribute,
  but it also makes the hierarchy more obvious in the DOM for debugging */
    display: contents;
}

.toggle {
    cursor: pointer;
    user-select: none;
}

.icon {
    grid-row: 1;
    grid-column: icon;
}

.content {
    grid-column: panel;
}

.complexLayerContainer[data-expanded='false'] .content {
    display: none;
}

.divider {
    margin-block: 0;
    grid-column: panel;
}

.complexLayerContainer[data-expanded='false'] .divider {
    display: none;
}

/* Hide the complex layer if the content is empty */
.complexLayerContainer[data-auto-show-hide='true']:not(:has([data-show-layer='true'])) {
    display: none;
}
