.controlsOverlay {

  position: relative;
  pointer-events: none;
  height: 100%;
}

.controlPanels {
    :where(&) > * {
      pointer-events: auto;
    }
}

.controlsContainer {

  pointer-events: none;

  :where(&) > * {
    pointer-events: auto;
  }
}

.controlPanel {
  pointer-events: auto;

  :where(&) > * {
    pointer-events: auto;
  }
}
