:root {
  /* Color definitions, based on the gov.uk style */
  --col-dark: oklch(15% 0 197);
  --col-light: white;
  --col-blue: oklch(53% 0.14 250);
  --col-green: oklch(48% 0.12 154);
  --col-yellow: oklch(90% 0.19 98);
  --col-red: oklch(57% 0.2 32);
  --col-light-grey: oklch(77% 0 237);
  --col-dark-grey: oklch(46% 0.02 229);
  --col-dark-blue: oklch(33% 0.13 260);
  --col-dark-purple: oklch(40% 0.16 292);
  --col-charcoal: oklch(27% 0 0);
}

[data-color-scheme="light"] {
  --col-bg: var(--col-light);
  --col-fg: var(--col-dark);

  --col-bg-card: var(--col-light);
  --col-bg-hover: color-mix(in oklab, var(--col-bg) 80%, var(--col-fg));

  --col-fg-button: var(--col-light);
  --col-bg-button: var(--col-link);
  --col-bg-button-hover: var(--col-link-hover);

  --col-primary: var(--col-blue);
  --col-success: var(--col-green);
  --col-warning: var(--col-yellow);
  --col-danger: var(--col-red);
  --col-neutral-outline: var(--col-light-grey);
  --col-neutral-input-outline: var(--col-dark);
  --col-fg-disabled: var(--col-light-grey);
  --col-fg-secondary: var(--col-dark-grey);
  --col-link: var(--col-blue);
  --col-link-hover: var(--col-dark-blue);
  --col-link-visited: var(--col-dark-purple);

  --card-shadow: 0 0 3px var(--col-neutral-outline);
}

[data-color-scheme="dark"] {
  --col-bg: var(--col-dark);
  --col-fg: var(--col-light);

  --col-bg-card: color-mix(in oklab, var(--col-bg) 85%, var(--col-fg));
  --col-bg-hover: color-mix(in oklab, var(--col-bg) 80%, var(--col-fg));

  --col-fg-button: var(--col-fg);
  --col-bg-button: var(--col-bg-card);
  --col-bg-button-hover: var(--col-bg-hover);

  /* TODO: Come up with a more carefully considered dark mode color scheme */
  --col-primary: var(--col-blue);
  --col-success: var(--col-green);
  --col-warning: var(--col-yellow);
  --col-danger: var(--col-red);
  --col-neutral-outline: var(--col-light-grey);
  --col-neutral-input-outline: var(--col-dark);
  --col-fg-disabled: var(--col-light-grey);
  --col-fg-secondary: var(--col-dark-grey);
  --col-link: var(--col-blue);
  --col-link-hover: var(--col-dark-blue);
  --col-link-visited: var(--col-dark-purple);

  --card-shadow: 0 0 3px var(--col-dark);
}

/* Apply the colours to elements by default */

:where(html, body) {
  background-color: var(--col-bg);
  color: var(--col-fg);
}

/* Default link colours */
:where(a) {
  color: var(--col-link);
}

:where(a):visited {
  color: var(--col-link-visited);
}

:where(a):hover,
:where(a):active {
  color: var(--col-link-hover);
}
