@import "./color-scheme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #14141460;
}

::-webkit-scrollbar-thumb {
  background-color: #6a6a6a;
  border-radius: 12px;
  border: 1px solid #141414;
}

::-webkit-scrollbar-corner {
  width: 0;
}

@supports (scrollbar-color: #6a6a6a #14141460) {
  * {
    scrollbar-width: auto;
    scrollbar-color: #6a6a6a #14141460;
  }
}

input[type="range"].criticality-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #9ddd32;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

input[type="range"].criticality-slider::-moz-range-thumb {
  background: #9ddd32;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

input[type="range"].criticality-slider::-ms-thumb {
  background: #9ddd32;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

[role="tooltip"],
.hideTooltip + [role="tooltip"] {
  @apply absolute -top-9 whitespace-nowrap px-2 py-1 bg-black-50 rounded-md invisible z-10 text-sm;
}
[aria-labelledby]:hover + [role="tooltip"],
[aria-labelledby]:focus + [role="tooltip"] {
  @apply visible;
}
[aria-labelledby]:hover + .hideTooltip[role="tooltip"],
[aria-labelledby]:focus + .hideTooltip[role="tooltip"] {
  @apply invisible;
}

#theme-provider > div {
  height: 100%;
}

.first\:justify-items-start:first-child {
  justify-items: start;
}

.hover\:bg-black-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(68 68 68 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-black-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(68 68 68 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

.h-screen-dropdown {
  height: calc(100vh - 3rem);
  overflow-y: auto;
  margin-bottom: 0.5rem;
}

.dropdown-menu {
  @apply mx-auto max-w-[90%] py-4 relative;
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 30;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  @apply bg-gray-600 text-whiteSmoke text-sm py-2 rounded-lg shadow-lg absolute w-full z-10 hidden top-full;
}

.dropdown-button {
  @apply flex items-center justify-center bg-gray-700 text-whiteSmoke text-sm px-4 py-2 rounded-lg hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 shadow-md w-full;
}

.dropdown-icon {
  @apply w-5 h-5;
}

.dropdown-content-item {
  @apply block px-4 py-2 hover:bg-gray-500;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  @supports (scrollbar-width: none) {
    .hide-scrollbar {
      scrollbar-width: none;
    }
  }

  .line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  /* Standard buttons */
  .btn {
    padding-inline: 1rem;
    padding-block: 0.5rem;

    --btn-fg: var(--col-fg-button);
    --btn-bg: var(--col-bg-button);

    color: var(--btn-fg);
    background: var(--btn-bg);
    border-radius: 0.25rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background: var(
        --btn-bg-hover,
        oklab(from var(--btn-bg) calc(l - 0.15) a b)
      );
    }

    &:focus {
      /* Avoid the extra outline ring */
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

    &:disabled {
      background: var(
        --btn-bg-disabled,
        color-mix(in oklab, var(--btn-bg) 50%, var(--col-bg))
      );
      cursor: not-allowed;
    }
  }

  /* We generally want flexbox inside buttons, enforce this only with low specificity */
  :where(.btn) {
    white-space: nowrap;
    display: inline flex;
    align-items: center;
  }

  /* Specific button colours */
  .btn-primary {
    --btn-fg: var(--col-fg-button);
    --btn-bg: var(--col-bg-button);
    --btn-bg-hover: var(--col-btn-bg-hover);
  }

  .btn-success {
    --btn-fg: var(--col-light);
    --btn-bg: var(--col-success);
  }

  .btn-warning {
    --btn-fg: var(--col-dark);
    --btn-bg: var(--col-warning);
  }

  .btn-danger {
    --btn-fg: var(--col-light);
    --btn-bg: var(--col-danger);
  }

  .card {
    background: var(--col-bg-card);
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: var(--card-shadow);
  }

  .menu {
    --menu-bg: var(--col-bg-card);
    --menu-bg-hover: color-mix(in oklab, var(--menu-bg) 90%, currentColor 10%);
    --menu-bg-selected: color-mix(
      in oklab,
      var(--menu-bg) 80%,
      currentColor 20%
    );

    --menu-padding-block: 0.5rem;
    --menu-padding-inline: 1rem;

    background: var(--menu-bg);
    border-radius: 0.25rem;

    box-shadow: var(--card-shadow);
  }

  /* Set the display at low specificity to make this easier to modify */
  :where(.menu) {
    display: block grid;
    padding-block: 0.5rem;
  }

  .menu-lg {
    font-size: 1rem;
    font-weight: 600;
  }

  .menu-title {
    text-align: start;
    padding-block: calc(var(--menu-padding-block, 0.5rem) * 1.5);
    padding-inline: var(--menu-padding-inline, 1rem);
    font-weight: 700;
    font-size: 1.1em;
    border-bottom: 1px solid var(--menu-bg-hover);
  }

  .menu-item {
    text-align: start;
    padding-block: var(--menu-padding-block, 0.5rem);
    padding-inline: var(--menu-padding-inline, 1rem);

    &:hover {
      background-color: var(--menu-bg-hover);
    }

    &[data-selected="true"] {
      font-weight: 700;
      background-color: var(--menu-bg-selected);
    }
  }

  .menu-info {
    text-align: start;
    padding-block: var(--menu-padding-block, 0.5rem);
    padding-inline: var(--menu-padding-inline, 1rem);
  }

  .bg-default {
    background: var(--col-bg);
  }

  .bg-card {
    background: var(--col-bg-card);
  }

  .bg-hover:hover {
    background: var(--col-bg-hover);
  }

  .bg-button {
    background: var(--col-bg-button);

    &:hover {
      background: var(--col-bg-button-hover);
    }
  }

  .tbl {
    --tbl-bg-highlight: color-mix(in oklab, var(--col-bg) 85%, var(--col-fg));
  }

  .tbl thead {
    background: var(--tbl-bg-highlight);
  }

  .tbl tr {
    border-block-end-width: 1px;
    border-color: var(--tbl-bg-highlight);
  }

  .tbl :is(td, th) {
    padding-block: 0.4em;
    padding-inline: 0.75em;
  }
}

@layer components {
  .error-notification {
    @apply px-2 py-1 bg-error;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
  }

  .toolbar {
    @apply absolute top-0 right-0 text-whiteSmoke bg-black-200 bg-opacity-80;
  }

  .toolbar__list {
    @apply flex flex-col items-end gap-y-2 px-2 py-1;
  }

  .w-sidebar {
    inline-size: calc(25% + 2rem);

    @media (width >= 1024px) {
      inline-size: calc(40% + 2rem);
    }
  }

  .linkBorder {
    @apply mx-auto rounded-full opacity-0 w-0;
    background: #f5f5f5;
    height: 2px;
    transition-duration: 400ms;
    transition-property: width, opacity;
    transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  }
  .link:hover + .linkBorder {
    @apply opacity-100 w-full;
  }

  .marker-icon {
    @apply text-whiteSmoke bg-black-100 bg-opacity-90 rounded-md p-1;
  }

  .asset__details {
    @apply grid gap-x-2 items-center;
    grid-template-columns: min-content minmax(0, 1fr);
  }

  input.form-control {
    padding-block: 0.5em;
    padding-inline: 1.25em 2.5em;

    /* TODO: Consider this */
    font-weight: 600;
    border-radius: 0.5em;

    background-color: var(--col-bg);
    color: var(--col-fg);

    ::placeholder {
      color: var(--col-fg-disabled);
    }

    outline: 1px solid var(--col-neutral-input-outline);
    border-width: 0;
  }
}

body,
html {
  min-block-size: 100svh;
}

#root {
  display: contents;
}

/* Simple grid format: header at the top and the rest for the app body */
body {
  display: block grid;

  grid:
    "header" auto
    "body" 1fr
    / 1fr;

  /* Typographic tweak for design */
  letter-spacing: 0.05em;
}
