# Specify the ttl file containing asset data
ASSETS_FILE=frontend/dev/data/iow.ttl

# Specify the GeoJSON containing previous and new IDs for the feature
INPUT_FILE=frontend/dev/data_match_resources/input.geojson
