.floodRiskArea {
  margin-top: 1.0em;
}

.closeButton {
  padding:2.0em;
  padding-bottom: 0.5em;
  margin-left: auto;
  display: block;
}

.floodPanel {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.5em;
  margin-right: 5em;
  background-color: white;
  border-radius: 0.375em;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  max-height: 40vh;
  overflow-y: auto;
}
