.floodRiskArea {
  margin-top: 1.0em;
}

.closeButton {
  align-self: self-end;
  padding: 2.0em;
  padding-bottom: 0.5em;
  padding-right: 0;
  text-decoration-style: -moz-none;
}

.floodPanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  margin-right: 8vh;
  background-color: white;
  border-radius: 0.375em;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  width: 24em;
  max-height: 40vh;
  overflow-y: auto;
  z-index: 1000;

  @media screen and (max-height: 767px) {
    margin-right: 9vh;
  }
}
